body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
 
  margin:0;
  padding: 0;


  
}

/*animacoes*/
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromBotton {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}


div#preloader { 
  position: fixed; 
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%; 
  height: 100%;
  overflow: visible;
  background: #29366b url(./img/load.gif) no-repeat center center; 
  background-size: 80px;
}
div#preloader h2{
  color: white;
  text-align: center;
  margin-top: 420px;
}


#menu-mobile{
  display: none;
}
nav div#menu-btn {
 
  display: none;
 
}

nav {
  
  position: absolute;
  background-image: url(./img/cabeçalho.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 335px;
  z-index: 1;
}  

nav img {
  animation: 2s ease-out 0s 1 slideInFromLeft;
  position: absolute;
  left:50px;top:15px;
  z-index: 1;
}

nav ul#menu-desktop {
  animation: 2s ease-out 0s 1 slideInFromTop;
  margin:0;
  padding:0;
  padding-top: 50px;
  padding-right: 30px;
  text-align: right;
}

nav ul#menu-desktop li {
  list-style-type:none;
  display: inline;
}

nav ul#menu-desktop li a {
  padding: 10px 20px;
  text-decoration: none;

  color:rgb(255, 255, 255);
  display: inline-block;
  margin-right: -3px;
  font-family: Roboto, sans-serif;
  font-size: 80%;
  letter-spacing: 0.60
}

nav ul#menu-desktop li a:hover {
  background-color:#29366b;
}
.banner img{
 
  
  width: 100%;
  height: 902px;
  margin: 0 ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  object-fit: cover;/*nao acontece distorcao fill=preenche e distorce,contain=sempre atinge o limite(contendo),cover=acompanha o container sem distorcer,scale-down=nao crece, mais diminui*/
  object-position: top center;
  z-index: -2;

  
}
.banner p{
    animation: 2.5s ease-out 0s 1 slideInFromTop;
    position: absolute;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-top: 30%;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 65%;
    text-shadow: 0 0 10px #333;
    border-right-width: 10px solid transparent;
    border-right-style: outset;
    border-right-color:yellow;
    
}
#servico-mobile{
  display:none;
}

.servicos h2 {
  
  color: white;
  position: absolute;
  font-size: 50px;
  right: 550px;
  top: 950px;

  z-index: 1;
}

.servicos ul{
 
  color: white;
  font-size: 20px;
  position: absolute;
 
  list-style: none;
  top:1080px;
  margin-left: 60px;
  


	
}

.servicos li{
  display: inline-block;  
  padding-right: 70px;
  margin-right: 0;
  padding-left: 60px;
  border-right-width: 1px solid;
  border-right-style: outset;
  border-right-color:rgba(82, 82, 82, 0.1);
  border-bottom-width: 1px solid;
  border-bottom-style: outset;
  border-bottom-color:rgba(82, 82, 82, 0.1);
 
 


}



.clientes h2 {
  
  color: white;
  position: absolute;
  font-size: 50px;
  right: 550px;
  top: 1350px;

  z-index: -1;
}
.clientes img{
  position:absolute;
  width: 85.5%;
  top:1480px;
  margin-left: 100px;
  z-index: -1;
}
.texto h2 {
  
  color: white;
  position: absolute;
  font-size: 31px;
  right: 515px;
  top: 1650px;

  z-index: 1;
}
.texto p {
  
  color: white;
  position: absolute;
  font-size: 21px;
  right: 480px;
  top: 1700px;

  z-index: 1;
}
.texto img{
  position:absolute;
  top:1600px;
  right: 75px;
  height: 450px;
  z-index: -1;
}





.imagen_corpo {

  position: absolute;
  margin-left: 0;

  top: 0;
  width: 100%;
  height: 1500px;

  
  z-index: -1;
}
.borda{
  position: absolute;
  background-image: url(./img/curca\ 02.png)  ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  left: 0;
  top:688px;
  width: 100%;
  height: 304px;
  transform: rotate(1deg);

  z-index: 1;

}

.footer {
  position: absolute;
  background-image: url(./img/rodapé.png)  ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  left: 0;
  bottom: 0;
  top:2000px;
  width: 100%;
  height: 400px;


  z-index: 1;
}
.footer ul{
  color: rgb(172, 172, 172);
  font-size: 15px;
  position: relative;
  padding-left: 100px;
  list-style: none;
  padding-top: 250px;

	
}
.footer li{
  display: inline-block;  
  padding-right: 110px;
  padding-left: 50px;

}
.footer img{
  width: 30px;
  height: 30px;
}

@media only screen and (min-width:300px) and (max-width:768px) {
  #menu-desktop{
    display: none;
  }

  nav div#menu-btn {
    position: absolute;
    display: block;
    top:20px;
    right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
    nav {
      position:absolute;
      left:0;top:0;
      width:100%;
      height:70px;
      background-color: #14347d;
      background-image: none;
  }

  nav img {
      width: 120px;
      left: 50%;
      margin-left: -35px;
  }
  nav ul#menu-mobile {
    margin-top:70px;
    padding: 0;
}

nav ul#menu-mobile li {
    display: block;
    width: 100%;
    list-style-type: none;
}

nav ul#menu-mobile li a {
    display: block;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    background-color: rgba(72,107,188,0.3);
    padding: 20px 0;
    border-bottom: 1px solid #111;

    font-family: Roboto, sans-serif;
    font-size: 80%;
    letter-spacing: 0.6;
} 
.banner p{
  display: none;
}
.banner img{
  height: 900px;
}


#servico-desktop {
  
  display: none;
  
}
#servico-mobile{
  display: block;
}
#servico-mobile ul {
  
  padding: 5px;
  margin-left:0;
}

#servico-mobile li {
  display: block;
  width: 100%;
  list-style-type: none;
  padding:0;
 
}
.servicos ul{
 
   top: 1000px;
  padding:30px;
  text-align: center;



}
.servicos h2{
  width: 100%;
  right: 0;
  margin-bottom: 0;
  text-align: center;

}
.servicos img{
  width: 30px;
  height: 30px;
}

.clientes h2{
  margin-top: 100px;
  width: 100%;
  right: 0;
  text-align: center;

}
.clientes img{
  margin-top: 50px;
  width: 100%;
  right: 0;
  text-align: center;

}
.texto h2 {
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  font-size: 21px;
  right: 0;
  top: 1650px;

  z-index: 1;
}
.texto p {
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  font-size: 11px;
  right: 0;
  top: 1700px;

  z-index: 1;
}
.texto img{
  position:relative;
  top:950px;
  left: 100px;
  height: 200px;
  z-index: -1;
  

}
.footer {
  height: 450px;
  top:1900px;
}
.footer ul{
  color: rgb(172, 172, 172);
  font-size: 11px;
  position: relative;
  padding: 30px;
  list-style: none;
  padding-top: 250px;

	
}
.footer li{
  display: inline-block;  
  padding-right: 40px;
  padding-left: 40px;

}
.imagen_corpo img {

  position: absolute;
  margin-left: 0;

  top: 0;
  width: 100%;
  height: 2200px;

  
  z-index: -1;
}





}








